body {
  background-color: black;
  height: 1000vh;
  overflow-x: hidden;
}

.profile-assets {
  height: 25vh;
  width: 25vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 60vh;
  position: sticky;
}

.profile-assets img {
  height: inherit;
  width: inherit;
}

#computer {
  transition: transform 200ms ease-out;
}

#keyboard {
  transition: transform 200ms ease-out;
}

#card-container {
  width: 40vw;
  display: flex;
  flex-direction: column;
  background-color: white;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 100vh;
  position: absolute;
}

.card {
  height: 400px;
}