:root {
  --gradient-1: #1c1d22;
  --gradient-2: #292933;
  --gradient-3: #383844;
  --gradient-4: #a97c81;
  --gradient-5: #ebb9ba;
  --gradient-6: #faddd9;
  --gradient-7: #fdf3f4;
  --gradient-8: #fef4f5;
}