body {
  background-color: var(--gradient-1);
  overflow-x: hidden;
  margin: 0;
  display: block;
  font-family: NeueKabel;
}

.profile-assets {
  height: 25vh;
  width: 25vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

.profile-assets img {
  position: absolute;
  height: inherit;
  width: inherit;
}

.profile-assets a {
  position: absolute;
  height: inherit;
  width: inherit;
}

#computer-screen-github,
#computer-screen-linkedin,
#computer-screen-mail,
#clickmeagain {
  z-index: 0;
  display: none;
}

#computer-screen-shape {
  height: inherit;
  width: inherit;
  position: absolute;
  /* cursor: pointer; */
  z-index: 1;
  -webkit-clip-path: polygon(50% 20%, 75% 15%, 75% 40%, 25% 35%);
  clip-path: polygon(42% 24%, 66% 19%, 64% 50%, 40% 49%);
}

#keyboard {
  background-image: url("/assets/keyboard.svg");
  background-size: contain;
  height: inherit;
  width: inherit;
  position: absolute;
}

#keyboard-shape {
  height: inherit;
  width: inherit;
  position: absolute;
  cursor: pointer;
  z-index: 1;
  -webkit-clip-path: polygon(21% 63%, 66% 73%, 66% 80%, 50% 89%, 5% 75%, 5% 70%);
  clip-path: polygon(21% 63%, 66% 73%, 66% 80%, 50% 89%, 5% 75%, 5% 70%);
}

#computer-spacer {
  width: 100vw;
  height: 175vh;
  position: static;
}

#computer-container {
  transition: transform 200ms ease-out;
}

#keyboard-container {
  transition: transform 200ms ease-out;
}

#profile-asset-container {
  width: 100vw;
  height: 25vh;
  top: 60vh;
  position: sticky;
}

.gradient-text {
  display: inline;
  color: var(--gradient-7);
  background-image: linear-gradient(45deg, var(--gradient-4), var(--gradient-8));
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.header-font {
  font-weight: 300;
  font-size: 5vh;
}

.text-center {
  text-align: center;
}

#navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 100;
  gap: 5vw;
  color: var(--gradient-7);
}

#navbar p {
  cursor: pointer;
}

#intro {}

#experience-header {}

.card-container {
  width: 50vw;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  gap: 10vh;
  margin-bottom: 10vh;
}

@media (max-width: 767px) {
  .card-container {
    width: 90vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .card-container {
    width: 70vw;
  }
}

.card-container-header {
  color: white;
  margin-bottom: -5vh;
}

.card-container-header h1 {
  font-weight: 600;
  font-size: 3.5vh;
  margin: 0px;
}

.card-container-header h2 {}

.card-container-header p {
  font-weight: 400;
  font-size: 24px;
  margin: 0px;
}

.card {
  position: relative;
  width: inherit;
  height: 50vh;
  max-height: 600px;
  border-radius: 5px;
  border: 1px white solid;
  overflow: hidden;
  color: white;
  padding: 5%;
  box-sizing: border-box;
  display: flex;
}

@media (max-width: 767px) {
  .card {
    height: 90vh;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .card {
    height: 40vh;
  }
}

.card-content {
  height: 100%;
  width: 60%;
}

.card-content h4 {
  font-weight: 600;
  font-size: 3vh;
  margin: 0px;
}

.card-content h3 {
  display: inline;
  font-weight: 300;
  font-size: 5vh;
  margin: 0px;
  color: var(--gradient-7);
  background-image: linear-gradient(45deg, var(--gradient-4), var(--gradient-8));
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.card-content p {
  font-weight: 400;
  font-size: 24px;
  margin: 0px;
}

#skills {
  gap: 5vh;
  align-items: center;
}

#skills-header {
  margin-bottom: 0;
}

.skills-card {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.skills-card h3 {
  font-size: 36px;
  margin: 0;
}

.skills-card h4 {
  color: var(--gradient-8);
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 20px;
}

.card-parallax {
  position: absolute;
  /* overflow: hidden; */
  height: 100%;
  width: 50%;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0;
}

.card-asset {
  position: absolute;
}

.card-asset img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#card-cvwo-tablet {
  height: 100%;
  width: 80%;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0;
}

#card-workclass-monitor {
  height: 100%;
  width: 80%;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: auto;
  right: 0;
}

#card-workclass-monitor img {
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: auto;
}

.card-container-footer {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container-footer h3 {
  display: inline;
  font-weight: 300;
  font-size: 5vh;
  margin: 0px;
  color: var(--gradient-7);
  background-image: linear-gradient(45deg, var(--gradient-4), var(--gradient-8));
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.card-contact {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 25px;
}

.card-contact img {
  width: 50px;
}