#parallax-container {
    width: 100vw;
    height: 48vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}

.parallax {
    width: inherit;
    height: inherit;
    position: absolute;
    background-position: bottom;
    background-size: contain;
}

#parallax-1 {
    background-image: url("/assets/parallax_1.png");
}

#parallax-2 {
    background-image: url("/assets/parallax_2.png");
}

#parallax-3 {
    background-image: url("/assets/parallax_3.png");
}

#parallax-4 {
    background-image: url("/assets/parallax_4.png");
}

#parallax-5 {
    background-image: url("/assets/parallax_5.png");
}

#parallax-6 {
    background-image: url("/assets/parallax_6.png");
}

#parallax-7 {
    background-image: url("/assets/parallax_7.png");
    height: 49vh;
}

@media (max-width: 1024px) {
    #parallax-container {
        height: 45vh;
    }

    #parallax-1 {
        background-image: url("/assets/mobile/parallax_1.png");
    }

    #parallax-2 {
        background-image: url("/assets/mobile/parallax_2.png");
    }

    #parallax-3 {
        background-image: url("/assets/mobile/parallax_3.png");
    }

    #parallax-4 {
        background-image: url("/assets/mobile/parallax_4.png");
    }

    #parallax-5 {
        background-image: url("/assets/mobile/parallax_5.png");
    }

    #parallax-6 {
        background-image: url("/assets/mobile/parallax_6.png");
    }

    #parallax-7 {
        background-image: url("/assets/mobile/parallax_7.png");
        height: 46vh;
    }
}